html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 30px;
  color: $color-text;
}

.layout-2-column {
  display: flex;
  justify-content: space-between;
}

.container {
  max-width: $container-width;
  margin: 0 auto;
  padding: 0 15px;
}
