@import "./reset";
/*
font-family: 'Inika', serif;
font-family: 'Inter', sans-serif;

*/ /* HEADER */
.header {
  font-family: "Inika", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 50px;
  background: $color-section;
  padding: 42px 0;
}

.logo__title {
  &:hover {
    color: $color-primary;
    font-weight: 700;
    transition: all 0.2s ease;
  }
  &:before {
    content: url(../assets/icons/logo.png);
  }
}

.navigation {
  display: flex;
  column-gap: 46px;
  padding: 0px 3px;
  li {
    a {
      color: $color-links;
    }
    :hover {
      color: $color-primary;
      font-weight: 700;
      transition: all 0.2s ease;
    }
  }
}

/* MAIN */

/* WECLOME SECTION */

.welcome {
  background: #edf2ec;
  padding: 60px 0;
}

.welcome__image {
  max-width: 449px;
  max-height: 407px;
}

.welcome__container {
  padding: 36px 0;
  max-width: 549px;
}

.welcome__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 50px;
  color: #717171;
  margin-bottom: 45px;
  span {
    color: #499a18;
  }
}

.weclome__text {
  line-height: 35px;
  margin-bottom: 47px;
}

.welcome__button {
  font-size: 16px;
  line-height: 18px;
  border: 2px solid #e06733;
  border-radius: 10px;
  padding: 11px 26px;
  color: #000000 !important;
  &:hover {
    background-color: $color-primary;
    transition: all 0.2s ease;
  }
}

/* ABOUT SECTION */

.about {
  padding: 94px 0;
}

.about__content {
  max-width: 605px;
  margin-top: 66px;
}

.about__content__title {
  font-family: "Inika", serif;
  font-size: 40px;
  line-height: 52px;
  color: #499a18;
  margin-bottom: 38px;
  span {
    color: #e06733;
  }
}

.about__image {
  max-height: 479px;
}
